@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './studiova-scoped.css';

@media print {
  body:not(.print-mode) {
    display: none !important;
  }
  body.print-mode #root > *:not(.print-allowed-area) {
    display: none !important;
  }
  body.print-mode .print-allowed-area {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background: white !important;
    color: black !important;
  }
}
